<header class="row dark size-50">
	<input icon type="radio" name='layout-view' id="layout_view_f1" value="home" checked/>
	<label icon for="layout_view_f1">
		<span class="icon"></span>
	</label>
	<div cursor>
		<span class="text">Phương pháp mô hình hóa - MVC Chat</span>
	</div>
	<div space></div>
	<input icon type="radio" name='layout-view' id="layout_view_f2" value="home" />
	
	<label icon for="layout_view_f2">
		<span class="icon"></span>
	</label>
</header>