<header class="row dark size-50">
	<a href="/" icon>
		<span class="icon"></span>
	</a>
	<div cursor>
		<span class="text">Phương pháp mô hình hóa - MVC Chat</span>
	</div>
	<div space></div>
	<a href="/" icon>
		<span class="icon"></span>
	</a>
	<a href="/" icon>
		<span class="icon"></span>
	</a>
</header>