<html>

<head>
	<title>Chat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="icon" href="img/icon.png" />
	<link rel="stylesheet/less" href="style/index.less" />
	<link rel="stylesheet" type="text/css" href="style/style.css" />
	<script src="script/lib/mousetrap.all.min.js"></script>
	<script src="script/lib/moment.min.js"></script>
	<script src="script/lib/moment.vi.js"></script>
	<script src="script/lib/less.min.js"></script>
	<script src="script/lib/anime.min.js"></script>
</head>

<body>
	<div id="body" layout-view="home" class="col menu">
		<% include component/header %>
		<main>
			<div id="content" class="row">
				<div id="main" class="light">
					
				</div>
			</div>
		</main>
	</div>
	<script src="script/js.js"></script>
	<script>
		less.watch();
	</script>
</body>

</html>