<html>

<head>
	<title>Ứng dụng Chat</title>
	<% include component/head %>
</head>

<body>
	<div id="body" layout-view="home" class="col menu">
		<% include component/header %>
		<main>
			<div id="content" class="row">
				<div id="main" class="light">
					
				</div>
			</div>
		</main>
	</div>
	<script src="script/js.js"></script>
	<script>
		less.watch();
	</script>
</body>

</html>