<html>

<head>
	<title>Chat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="icon" href="img/icon.png" />
	<link rel="stylesheet/less" href="style/index.less" />
	<link rel="stylesheet" type="text/css" href="style/style.css" />
	<script src="script/lib/mousetrap.all.min.js"></script>
	<script src="script/lib/moment.min.js"></script>
	<script src="script/lib/moment.vi.js"></script>
	<script src="script/lib/less.min.js"></script>
	<script src="script/lib/anime.min.js"></script>
	<script src="script/lib/react.min.js"></script>
	<script src="script/lib/react-dom.min.js"></script>
	<script src="script/lib/babel.min.js"></script>
	<script src="script/lib/socket.io.min.js"></script>
</head>

<body>
	<div id="body" layout-view="home" class="col menu">
		<header class="row dark size-50">
			<input icon type="radio" name='layout-view' id="layout_view_f1" value="home" checked/>
			<label icon for="layout_view_f1">
				<span class="icon"></span>
			</label>
			<div cursor>
				<span class="text">Demo ứng dụng chat</span>
			</div>
			<div space></div>
			<input icon type="radio" name='layout-view' id="layout_view_f2" value="home" />
			<label icon for="layout_view_f2">
				<span class="icon"></span>
			</label>
		</header>
		<main>
			<div id="content" class="row">
				<div id="menu" style="display: none" class="dark col left size-50">
					<input icon type="radio" name='layout-view' id="layout_view_f1" value="home" />
					<label icon for="layout_view_f1">
						<span class="icon"></span>
					</label>
					<input icon type="radio" name='layout-view' id="layout_view_f3" value="manga" />
					<label icon for="layout_view_f3">
						<span class="icon"></span>
					</label>
					<input icon type="radio" name='layout-view' id="layout_view_f4" value="explorer" />
					<label icon for="layout_view_f4">
						<span class="icon"></span>
					</label>
					<div space></div>
					<input icon type="radio" name='layout-view' id="layout_view_f5" value="idea" />
					<label icon for="layout_view_f5">
						<span class="icon"></span>
					</label>
					<input icon type="radio" name='layout-view' id="layout_view_f6" value="setting" />
					<label icon for="layout_view_f6">
						<span class="icon"></span>
					</label>
				</div>
				<div id="main" class="light">
					<section name="home">
						<div class="box row">
							<div id="chat-member" class="col">
								<div id="title" class="row size-40">
									<div icon>
										<span class="icon"></span>
									</div>
									<div space cursor icon>
										<span class="text">Người dùng</span>
									</div>
								</div>
								<div id="members">
								</div>
								<hr/>
								<div class="row size-40">
									<div icon space>
										<span class="icon"></span>
										<span class="text">Đăng xuất</span>
									</div>
								</div>
							</div>
							<hr/>
							<div id="chat" class="col">
								<div id="title" class="row size-40">
									<div icon>
										<span class="icon"></span>
									</div>
									<div space cursor icon>
										<span class="text">Nhắn tin</span>
									</div>
								</div>
								<div space id="messenger">
									<div class="left">
										<div class="name">phamhongphuc</div>
										<div class="row">
											<div class="avatar">
												<img src="img/a.jpg" alt="" />
											</div>
											<div class="messenger">
												<span>Dòng 1</span>
												<span>Dòng 2</span>
												<span>Dòng 3 - dài dài dài dài dài dài dài dài dài dài dài dài dài dài dài dài
																dài dài dài dài</span>
												<span>Dòng 4 - ơ</span>
												<span>Dòng 5</span>
											</div>
										</div>
									</div>
									<div class="right">
										<div class="row">
											<div class="messenger">
												<span>Dòng 1</span>
												<span>Dòng 2</span>
												<span>Dòng 3 - dài dài dài dài dài dài dài dài dài dài dài dài dài dài dài dài
																dài dài dài dài</span>
												<span>Dòng 4 - ơ</span>
												<span>Dòng 5</span>
											</div>
										</div>
									</div>
									<div class="left">
										<div class="name">phamhongphuc</div>
										<div class="row">
											<div class="avatar">
												<img src="img/a.jpg" alt="" />
											</div>
											<div class="messenger">
												<span>Dòng 1</span>
												<span>Dòng 2</span>
												<span>Dòng 3 - dài dài dài dài dài dài dài dài dài dài dài dài dài dài dài dài
																dài dài dài dài</span>
												<span>Dòng 4 - ơ</span>
												<span>Dòng 5</span>
											</div>
										</div>
									</div>
								</div>
								<hr/>
								<div class="row size-40">
									<input type="text" space/>
									<div icon>
										<span class="icon"></span>
									</div>
								</div>
							</div>
							<hr/>
							<div id="description" class="content">
								<b>Mô Hình MVC, App Chat</b>
								<p li>Nội dung</p>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div id="popup">
				<div id="noti" v-cloak></div>
			</div>
		</main>
	</div>
	<script type="text/babel" src="script/modules.js"></script>
	<script type="text/babel" src="script/react.js"></script>
	<script>
		less.watch();
	</script>
</body>

</html>