<html>

<head>
	<title>Thông tin</title>
	<% include component/head %>
</head>

<body>
	<div id="body" layout-view="home" class="col menu">
		<% include component/header %>
		<main>
			<div id="content" class="row">
				<div id="main" class="light">
					<section name="home">
						<div class="box row">
							<div id="description" class="content">
								<b>Mô Hình MVC, App Chat</b>
								<p li>Nội dung</p>
							</div>
						</div>
					</section>
				</div>
			</div>
		</main>
	</div>
</body>

</html>