<html>

<head>
	<title>Báo cáo</title>
	<% include component/head %>
</head>

<body>
	<div id="body" layout-view="home" class="col menu">
		<% include component/header %>
		<main>
			<div id="content" class="row">
				<div id="main" class="light">
					<section name="home">
						<div class="box row">
							<div id="description" class="content">
								<iframe src="https://onedrive.live.com/embed?cid=77A9ACDC3671DABB&resid=77A9ACDC3671DABB%21236773&authkey=AJ8TSjxZLiBntsA&em=2" frameborder="0" scrolling="no" style="width: 100%; height: 100%"></iframe>
							</div>
						</div>
					</section>
				</div>
			</div>
		</main>
	</div>
</body>

</html>