<html>

<head>
	<title>Chat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="icon" href="img/icon.png" />
	<link rel="stylesheet/less" href="style/index.less" />
	<link rel="stylesheet" type="text/css" href="style/style.css" />
	<script src="script/lib/mousetrap.all.min.js"></script>
	<script src="script/lib/moment.min.js"></script>
	<script src="script/lib/moment.vi.js"></script>
	<script src="script/lib/less.min.js"></script>
	<script src="script/lib/anime.min.js"></script>
</head>

<body>
	<div id="body" layout-view="home" class="col menu">
		<% include component/header %>
		<main>
			<div id="content" class="row">
				<div id="main" class="light">
					<section name="home">
						<div class="box row">
							<div id="description" class="content">
								<iframe src="https://onedrive.live.com/embed?cid=77A9ACDC3671DABB&resid=77A9ACDC3671DABB%21236773&authkey=AJ8TSjxZLiBntsA&em=2" frameborder="0" scrolling="no" style="width: 100%; height: 100%"></iframe>
							</div>
						</div>
					</section>
				</div>
			</div>
		</main>
	</div>
	<script>
		less.watch();
	</script>
</body>

</html>